<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding  bg="danger">
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>

  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <ion-card>
    <ion-card-header>
      enter product details
    </ion-card-header>
    <ion-card-content>
        <form #addform="ngForm">

      <ion-item>

          <ion-label color="primary" >product name</ion-label>
          <ion-input placeholder="Text" [(ngModel)]="product.productname" name="productname" #productname="ngModel"
          required
          pattern="[a-zA-Z0-9 !@#$%^&*]{6,20}$"           ></ion-input>

           
    
      </ion-item>
      <div class="error" *ngIf="productname.invalid && productname.dirty">

          <span >
            *  product name isnot  in correct format
          </span>

         </div>
      <ion-item>

          <ion-label color="primary">product price</ion-label>
          <ion-input placeholder="number" [(ngModel)]="product.price" name="price"

          #price="ngModel"

          required

          pattern="^(0|[1-9][0-9]*)$"

          
          ></ion-input>
      
      </ion-item>
      <div class="error" *ngIf="price.invalid && price.dirty">

        <span >
          * product price  isnot  in correct format
        </span>

       </div>


      </form>

      <ion-item>
        <button ion-button (click)="addnewProduct(product)" [disabled]="!addform.valid">  add product </button>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-list>
      <ion-item *ngFor="let item of prodcuts | search : terms" >
        <h2> key : {{item?.$key}}</h2>
          <h2>Item Name: {{item.productname}}</h2>
          <h3>Amount: {{item.price}}</h3>
          <button  color="danger"  ion-button   (click)="presentConfirm(item)">   <ion-icon name="trash"></ion-icon>
 </button>
          <button ion-button color="secondary"  (click)="details(item)"> more  </button>



          
          </ion-item>
    
    </ion-list>
    

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
